{{ include('partials/header.twig') }}
{{ include('partials/menu.twig') }}

<h1 class="left-align">Welcome to my portfolio !</h1>


<button class="waves-effect waves-light btn">Button</button>

{{ include('partials/footer.twig') }}